.main-content{
    padding: 50px;
}

.clickable{
    cursor: pointer;
}

.graph-hidden{
    display: none;
}

#top5Countries{
    width: 100%;
    height: 400px;
}

#worldwide{
    width: 100%;
    height: 400px;
}